[Unit]
Description=Rails App Sidekiq
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/deploy/apps/rails-app/current
ExecStart=/home/deploy/.rvm/bin/rvm 2.4.1 do /home/deploy/apps/rails-app/current/bin/bundle exec sidekiq -e production -L /home/deploy/apps/rails-app/shared/log/sidekiq.log -C /home/deploy/apps/rails-app/current/config/sidekiq.yml
User=deploy
UMask=0002

# Greatly reduce Ruby memory fragmentation and heap usage
# https://www.mikeperham.com/2018/04/25/taming-railss-memory-bloat/
Environment=MALLOC_ARENA_MAX=2

RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target